<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wiki-Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wiki-Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let page of this.pageArr">
      {{page}}
    </ion-item>
  </ion-list>  
  <ion-infinite-scroll (ionInfinite)="this.loadMore($event)">
    <ion-infinite-scroll-content
    
      loadingSpinner="bubbles"
      loadingText="Loading more data…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


